.about-me {
  display          : flex;
  min-height       : 400px;
  padding          : 50px;
  background-color : rgba(76, 147, 128, 0.56);
  text-align       : center;
  align-items      : center;
  font-family      : 'Josefin Sans',
                     sans-serif;
  flex-direction   : column;
  justify-content  : center;
}

.head-shot {
  height        : 325px;
  border-radius : 50%;
}

.about-me-intro {
  width     : 60%;
  margin    : 29px 0 5px;
  font-size : 40px;
}

.description {
  margin      : 12px;
  font-size   : 24px;
  line-height : 30px;
}

.skill-section {
  display    : flex;
  margin-top : 20px;
}

.skill {
  width     : 33%;
  max-width : 95%;
  margin    : 0 9px;
}

.icon {
  height : 60px;
}

.email-wrapper {
  display : flex;
}

.email-btn {
  width           : 40px;
  height          : 40px;
  margin          : 2px;
  background-size : contain;
  transition      : all 250ms;
}
