.contact {
  padding          : 18px 0;
  border-top       : 12px black solid;
  background-color : rgba(76, 147, 128, 0.56);
  text-align       : center;
  font-family      : 'Josefin Sans',
                     sans-serif;
}

.copyright {
  margin : 0;
}

h2 {
  margin    : 0;
  padding   : 25px 0;
  font-size : 32px;
}

.call-to-action {
  margin-top : 0;
}

.contact-content:after {
  content       : '';
  padding       : 0 7%;
  border-bottom : 2px grey solid;
}

.contact-links-wrapper {
  display         : flex;
  align-items     : center;
  justify-content : center;
}

.footer-icon {
  width              : 40px;
  height             : 40px;
  margin             : 40px 20px;
  background-repeat  : no-repeat;
  background-size    : contain;
  -moz-transition    : all 250ms;
  -o-transition      : all 250ms;
  -webkit-transition : all 250ms;
  transition         : all 250ms;
}

.github {
  background-image : url('../images/github-logo (1).svg');
}

.github:hover {
  background-image  : url('../images/github-logo.svg');
  -moz-transform    : scale(1.2);
  -o-transform      : scale(1.2);
  -webkit-transform : scale(1.2);
  transform         : scale(1.2);
}

.linkedin {
  background-image : url('../images/linkedin-button.svg');
}

.linkedin:hover {
  background-image  : url('../images/linkedin-button (1).svg');
  -moz-transform    : scale(1.2);
  -o-transform      : scale(1.2);
  -webkit-transform : scale(1.2);
  transform         : scale(1.2);
}

.email {
  background-image : url('../images/e-mail-envelope.svg');
}

.email:hover {
  background-image  : url('../images/e-mail-envelope (1).svg');
  -moz-transform    : scale(1.2);
  -o-transform      : scale(1.2);
  -webkit-transform : scale(1.2);
  transform         : scale(1.2);
}
