@media (min-device-width:320px)
       and (max-device-width : 768px) {
  .intro {
    background-attachment : scroll;
    /* fix for iphone background image */
  }
}

@media (max-width: 814px) {
  .portfolio {
    grid-template-columns : repeat(2, 1fr);
  }

  .about-me-intro {
    font-size : 32px;
  }

  .description {
    flex-direction: column;
    font-size : 18px;
  }

  .description p {
    width: 100%;
  }
  .email-btn {
    width  : 28px;
    height : 28px;
    margin : 7px;
  }

  .img-layer {
    height : 309px;
  }
}

@media (max-width: 545px) {
  .portfolio {
    grid-template-columns : repeat(1, 1fr);
  }

  .name {
    width      : 263px;
    text-align : center;
    font-size  : 50px;
  }

  .titles {
    font-size : 18px;
  }

  .skill {
    width : 100%;
  }

  .skill-section {
    flex-direction : column;
  }

  .about-me {
    padding : 55px 5px;
  }

  .about-me-intro {
    width : 100%;
  }

  .head-shot {
    height : 265px;
  }

  .contact {
    padding : 0 9px;
  }
}
