/****************** NAVIGATION ****************/

/**  icon  **/

#nav-icon {
  display: flex;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */

  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 16px;
  right: 16px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: rgba(254, 108, 66, 0.63);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.37);
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#nav-icon span {
  display: block;
  position: fixed;
  height: 2px;
  right: 23px;
  width: 38px;
  background: white;
  border-radius: 9px;
  transition: all .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 27px;
}

#nav-icon span:nth-child(2) {
  top: 40px;
}

#nav-icon span:nth-child(3) {
  top: 53px;
}

#nav-icon.open {
  background-color: rgba(43, 61, 165, 0.48);
}

#nav-icon.open span:nth-child(1) {
  top: 40px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(-225deg);
  width: 0;
}

#nav-icon.open span:nth-child(3) {
  top: 40px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/**  menu  **/

.nav-menu{
  font-family: 'Cinzel', serif;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.nav-menu a {
  text-decoration: none;
  color: #797979;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 12px 0;
}

.nav-menu a:hover {
  color: black;
}

.hidden {
  display: none;
}
