.portfolio {
  display               : grid;
  grid-template-columns : repeat(3, 1fr);
  grid-column-gap       : 9px;
  grid-row-gap          : 9px;
  min-height            : 100vh;
  border-top            : 6px black solid;
  background-color      : black;
}

.project {
  position            : relative;
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : cover;
}

.img-layer {
  display         : flex;
  width           : 100%;
  height          : 100%;
  color           : white;
  opacity         : 0;
  align-items     : center;
  font-family     : 'Play',
                    sans-serif;
  font-size       : 24px;
  flex-direction  : column;
  justify-content : center;
  transition      : opacity .5s ease;
  transition      : background-color .5s ease;
}

.img-layer:hover {
  opacity          : 1;
  background-color : rgba(43, 61, 165, 0.86);
}

.breakout {
  background-image : url('../images/projects/rsz_breakout.png');
}

.money-beetz {
  background-image : url('../images/projects/rsz_moneybeetz.png');
}

.number-guesser {
  background-image : url('../images/projects/rsz_numberguesser.png');
}

.travel-den {
  background-image : url('../images/projects/rsz_travelden.png');
}

.movie-tracker {
  background-image : url('../images/projects/rsz_movietracker.png');
}

.weatherly {
  background-image : url('../images/projects/rsz_weatherly.png');
}

.to-do-pivot {
  background-image : url('../images/projects/rsz_12do-pivot.png');
}

.project-title {
  margin : 2px 0;
}

.project-description {
  margin     : 8px;
  text-align : center;
  font-size  : 12px;
}

.github-project,
.live-project {
  width           : 40px;
  height          : 40px;
  margin          : 12px 18px;
  background-size : contain;
}

.github-project {
  background-image : url(../images/icons/github-logo-white.svg);
}

.live-project {
  background-image : url(../images/icons/computer.svg);
}

.project-link-wrapper {
  display         : flex;
  align-items     : center;
  justify-content : center;
}

span {
  font-weight : 700;
}
