/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Cinzel', serif;
*/

/****************** NAVIGATION ****************/

/**  icon  **/

#nav-icon {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 16px;
  right: 16px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: rgba(254, 108, 66, 0.63);
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 65%;
  background: white;
  border-radius: 9px;
  transition: all .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 12px;
}

#nav-icon span:nth-child(2) {
  top: 24px;
}

#nav-icon span:nth-child(3) {
  top: 36px;
}

#nav-icon.open {
  background-color: rgba(43, 61, 165, 0.48);
}

#nav-icon.open span:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(-225deg);
  width: 0;
}

#nav-icon.open span:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/**  menu  **/

.nav-menu{
  font-family: 'Cinzel', serif;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  transition: all 1s;
}

.nav-menu a {
  text-decoration: none;
  color: #797979;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 12px 0;
}

.nav-menu a:hover {
  color: black;
}

.hidden {
  display: none;
}

/******************  INTRO ****************/


.intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url(images/denver_skyline.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: all .1s ease;
}

.name{
  font-family: 'Cinzel', serif;
  padding: 15px;
  border: 7px white solid;
  font-size: 56px;
  color: white;
  box-shadow: inset 0px 0px 14px 0px black, 0px 0px 22px 0px black;
  position: relative;
}

.titles{
  font-family: 'Cinzel', serif;
  color: white;
  font-size: 22px;
  padding: 8px;
}

.arrow {
  position: absolute;
  bottom: 22px;
  height: 36px;
  border-radius: 50%;
  padding: 12px;
  transition: all .5s;
}

.arrow:hover{
  cursor: pointer;
  background-color: rgba(254, 108, 66, 0.63);
}

/****************** ABOUT ME *********************/

.about-me {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  background-color: rgba(76, 147, 128, 0.56);
}

.head-shot {
  height: 325px;
  border-radius: 50%;
}

.about-me-intro{
      margin: 29px 0 5px;
  width: 60%;
  font-size: 40px;
}

.description {
  font-size: 24px;
}

.skill-section {
  display: flex;
}

.skill {
  width: 33%
}

.icon {
  height: 60px;
}

/****************** PORTFOLIO *********************/

.portfolio{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-gap: 10px;*/
  /*grid-template-rows: minmax(100px, auto);*/
}

.project {
  position: relative;
  height: 321px;
  cursor: pointer;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-layer {
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 24px;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
}

.project-button {
  font-family: 'Play', sans-serif;
  color: #9ac2b8;
background-color: transparent;
border: 1px #9ac2b8 solid;
padding: 4px 21px;
cursor: pointer;
}

.img-layer:hover{
  background-color: rgba(43, 61, 165, 0.8);;
  opacity: 1;
}

.breakout {
  background-image: url('images/projects/breakout.png');
}

.money-beetz {
  background-image: url('images/projects/moneyBeetz.png');
}

.number-guesser {
  background-image: url('images/projects/NumberGuesser.png');
}

.travel-den{
  background-image: url('images/projects/TravelDen.png');
}

.movie-tracker {
  background-image: url('images/projects/MovieTracker.png');
}

.weatherly{
  background-image: url('images/projects/Weatherly.png');
}

/*********************** CONTACT *********************/

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icon{
  width: 40px;
  height: 40px;
  margin: 40px 20px;
  background-size: contain;
  transition: all 250ms;
}

.github {
  background-image: url('images/github-logo (1).svg');
}

.github:hover {
  background-image: url('images/github-logo.svg');
  transform: scale(1.2);
}

.linkedin {
  background-image: url('images/linkedin-button.svg');
}

.linkedin:hover {
  background-image: url('images/linkedin-button (1).svg');
  transform: scale(1.2);
}

.email {
  background-image: url('images/e-mail-envelope.svg');
}
.email:hover {
  background-image: url('images/e-mail-envelope (1).svg');
  transform: scale(1.2);
}
